.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


*{
    margin: 0;
    padding: 0;
}
.body{
    width: 700px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: content-box
}   
.gris{
    color: rgb(123, 123, 123);
    width: 110px;
    font-size: 10px;
    margin-left: 300px;
    
}
head{
    display:flex;
    width: 95%;
    height: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.tres{
    
    padding: 5px;
    background-color: blue;
    color: aliceblue;
    border-radius: 10px;
    width: 30px;
    height: 30px;
}
.cart{
    background-color: hsl(210, 60%, 98%);
    height: 4rem;
    border-radius: 15px;
    padding: 1%;
    margin-bottom: 0.5rem;
}
.title{
    height: 20px;
    
}
.date{
    color: rgb(33, 33, 33);
    margin-top: 25px;
    border: 1px solid red;
    height: 15px;
    width: 25%;
    margin-left: 25px;
}
image {
    height: 2.5rem;
    width: 2.5rem;
    margin: 5px;
   }
.title{
    border: 1px solid red;
   
}
.text-center{
    border: 1px solid black;
    padding: 15px;
    font-size: 25px;
    color: rgb(58, 58, 58);
}
.cart1{

}
